.split-container {
  display: flex;
  height: 100%;
}

.left-half, .right-half {
  flex: 1;
  height: 100%;
  margin: 20px;
  padding: 20px;
}
.left-half{
  flex: 1;
  height: 100%;
  margin-right: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 20px;
}
.example-tree-invisible {
  display: none;
}

.mat-tree-node{
  position: relative;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.certificate-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.certificate {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 300px;
}

.certificate h2 {
  font-size: 20px;
  margin-top: 0;
}

.certificate p {
  font-size: 16px;
  line-height: 1.5;
}

.certificate-details {
  margin-top: 10px;
  width: 100%;
  position: relative;
}

.certificate-details p {
  margin: 5px 0;
}

.node-name{
  font-size: large;
  padding: 8px;
  width: 180px;
  background-color: #dddddd;
  border-radius: 10px;
}

.node-name:hover{
  font-size: large;
  padding: 8px;
  width: 180px;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 10px;
}

.close-button {
  position: absolute;
  top: 7%; /* Adjust as needed */
  left: 60%; /* Adjust as needed */
  height: 30px;
  width: 65px;
  font-size: medium;
}

.create-button{
  position: absolute;
  top: 20%; /* Adjust as needed */
  left: 250px; /* Adjust as needed */
  width: 50px;
  height: 30px;
  background-color: #2e856e;
  border-color: #dddddd;
}

.create-button:hover{
  position: absolute;
  top: 20%; /* Adjust as needed */
  left: 250px; /* Adjust as needed */
  width: 50px;
  height: 30px;
  background-color: #8abaae;
  border-color: #dddddd;
}
